
<header class="fn fl-ns w-20-ns pr4-ns tracked-ns">
    {{ partial "header" }}
    <h2 class="f4 mid-gray lh-title">A digital media resource for students</h2>
    <nav>
        <ul class="list pl0">
            {{ range .Site.Sections }}
                <li class="pb1"><a href="#{{ .LinkTitle }}" class="link black underline-hover">{{ .LinkTitle}}</a></li>
            {{ end }}
        </ul>
<!--        <form>-->
<!--        <input placeholder="Search..."></input>-->
<!--            <button>Search</button>-->
<!--        </form>-->

    </nav>
</header>
