

<header class="fn fl-ns w-20-ns pr4-ns tracked-ns">
    {{ partial "header" }}
    <h2 class="f4 mid-gray lh-title"><a href="#top" class="link mid-gray">{{ .Title }}</a></h2>
    <nav>
        <ul class="list pl0">
        {{ range .Fragments.HeadingsMap }}
            {{if eq .Level 1}}
                <li class="pb0 pl0"><a href="#{{ .ID }}" class="link black  hover-link-bg"><span>{{ safeHTML .Title }}</span></a></li>
            {{range .Headings }}
                {{if eq .Level 2}}
                <li class="pb1 pl2"><a href="#{{ .ID }}" class="link black  hover-link-bg"><span>{{ safeHTML .Title }}</span></a></li>
                    {{range .Headings }}
                    {{if eq .Level 3}}
                        <li class="pl3"><a href="#{{ .ID }}" class="link black  hover-link-bg"><span>{{ safeHTML .Title }}</span></a></li>
                    {{end}}


                {{end}}
            {{end}}

            {{if eq .Level 0}}
                {{range .Headings }}
                    {{if eq .Level 2}}
                        <li class="pl2"><a href="#{{ .ID }}" class="link black  hover-link-bg"><span>{{ safeHTML .Title }}</span></a></li>
                    {{else if eq .Level 3}}
                        <li class="pl3"><a href="#{{ .ID }}" class="link black  hover-link-bg"><span>{{ safeHTML .Title }}</span></a></li>
                    {{end}}
                {{end}}
            {{end}}

            {{end}}


            {{end}}
        {{end}}
        </ul>
    </nav>
</header>
