{{ define "main" }}
{{ partial "navbar" . }}

<article class="fn fl-ns w-80-ns mw8 pl2 pl1-m">
    <div class="mw9 center ph3-ns">
        <div class="cf ph2-ns">


                <div class="fl bb sep w-100">
                    <div class="fl-ns w-100">
                        <h1 id="{{ .LinkTitle }}">Page Not Found</h1>
                        <p>Sorry. We are unable to find that page.</p>

                        <p>The Guidebook was reorganized in the summer of 2024, perhaps the page you are looking for has simply moved.</p>
                    </div>

                </div>



            </div>
        </div>
</article>
{{ end }}
