{{ define "main" }}
{{ partial "navbar" . }}

 <article class="debug fn fl-ns w-80-ns mw8 pl2 pl1-m">
  <div class="mw9 center ph3-ns">
   <div class="cf ph2-ns">

    {{ $i := 0 }}
    {{ range .Site.Sections.ByWeight }}
    {{ $i = add $i 1 }}

    {{ if modBool $i 2 }}
    <div class="fl bb sep w-100">
     {{else}}
     <div class="fl bb sep w-100">
      {{ end }}
      <div class="fl-ns w-100">
     <h1 id="{{ .LinkTitle }}">{{ .Title }}</h1>
     <p>{{ .Content }}</p>
    </div>

    {{range .Sections }}
     <div class="fl w-100 w-50-ns pv2 pl0 pr2">
      <h1 class="f4 mv0 pv2 pr2 pl0"><span class="bb bw2">{{ .Title}}</span></h1>
      <div class="pa2 pl0">
       <p>{{ .Content }}</p>
       <ol class="list pl0">
        {{ range $index, $element := .Pages.ByWeight }}
        <li><span>{{add $index 1}}: </span><a href="{{ .RelPermalink }}" class="link dark-gray black hover-link-bg">{{ .Title }}</a></li>
        {{ end }}
       </ol>
      </div>
     </div>
    {{end}}

    </div>

    {{ end }}


   </div>
  </div>
 </article>
{{ end }}
